@model PagedResult<KooliProjekt.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>@item.Status</td>
                <td>
                    @if (item.User != null)
                    {
                        @item.User.Username
                        // Display the user's name if the User exists
                    }
                    else
                    {
                        @:No User // Display "No User" when there is no associated User
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model))
